<h1>Merchant Dashboard</h1>
<h1><%= link_to @merchant.name, "/merchants/#{@merchant.id}" %></h1>
<p class="address"><%= @merchant.address %></p>
<p class="address"><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>

<h3>Pending Orders</h3>
<% @merchant.orders_with_my_items.each do |order_id, data| %>
  <p>Order Id: <%= link_to "#{order_id}", "/orders/#{order_id}" %></p>
  <p>Date Order Place: <%= data[:date] %><p>
  <p>Total Quantity: <%= data[:quantity_sum] %><p>
  <p>Total Value: <%= number_to_currency(data[:price_sum], :unit => "$") %><p>
<% end %>
