<h1><%= link_to @merchant.name, "/merchants/#{@merchant.id}"%><span> Items</span></h1>
<% if current_user != nil && current_user.merchant_id != nil && current_user.merchant_id == @merchant.id %>
  <p align="center"><%= link_to "Add New Item", "/merchants/#{@merchant.id}/items/new" %></p>
<% end %>
<section class="grid-container">
  <% @merchant.items.each do |item| %>
    <% if item.active? %>
      <section class = "grid-item" id= 'item-<%=item.id%>'>
        <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
        <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
        <%= link_to image_tag(item.image, id: "#{item.name}"), "/items/#{item.id}" %>
        <p>Price: <%=number_to_currency(item.price) %> </p>
        <p>Inventory: <%= item.inventory %> </p>
        <p>Status: Active</p>
      </section>
    <% end %>
  <% end %>
</section>
