<h1>Update My Password</h1>
<%= form_tag '/password', method: :post do %>
  <%= hidden_field_tag :name, "#{@user.name}" %>
  <%= hidden_field_tag :address, "#{@user.address}" %>
  <%= hidden_field_tag :city, "#{@user.city}" %>
  <%= hidden_field_tag :state, "#{@user.state }"%>
  <%= hidden_field_tag :zip, "#{@user.zip}" %>
  <%= hidden_field_tag :email, "#{@user.email}" %>
  <%= label_tag :password %>
  <%= text_field_tag :password %>
  <%= label_tag :password_confirmation %>
  <%= text_field_tag :password_confirmation %>
  <%= submit_tag "Submit" %>
<% end %>
