<h1>Welcome, <%=@user.name%>! You are now registered, and logged in.</h1>
<p>Name: <%=@user.name%></p>
<p>Email: <%=@user.email%></p>
<p>Address: <%=@user.address%></p>
<p>City: <%=@user.city%></p>
<p>State: <%=@user.state%></p>
<p>Zip: <%=@user.zip%></p>
<%=link_to "Edit My Profile", "/profile/edit" %>
<%=link_to "Edit My Password", "/password/edit" %>
