<h1>Admin Index Page</h1>

<h1 align = "center">Merchants</h1>
<p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
<section class= "grid-container">
  <% @merchants.each do |merchant|%>
    <section class= <%= "merchant-#{merchant.id}" %>>
      <h2><%=link_to merchant.name, "/merchants/#{merchant.id}"%></h2>
    <% if merchant.active? == true %>
        <h5><%=link_to "disable", "/admin/merchants/disable/#{merchant.id}"%></h5>
    <% else %>
        <h5><%=link_to "enable", "/admin/merchants/enable/#{merchant.id}"%></h5>
    <% end %>
    </section>
  <% end %>
</section>
