<h1 align = "center">Current Orders</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
  </tr>
    <% @orders.pending_orders.each do |order| %>
      <tr>
        <td><p><%= order.name %> </p></td>
        <td><p><%= order.address %> </p></td>
        <td><p><%= order.city %> </p></td>
        <td><p><%= order.state %> </p></td>
        <td><p><%= order.zip %> </p></td>
      </tr>
    <% end %>
</table>

