<h1>All Items</h1>
<section class="grid-container">
  <% @items.each do |item| %>
    <% if item.active? %>
      <section class = "grid-item" id= 'item-<%=item.id%>'>
        <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
        <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
        <%= link_to image_tag(item.image, id: "#{item.name}"), "/items/#{item.id}" %>
        <p> <%= item.description %> </p>
        <p>Price: <%=number_to_currency(item.price) %> </p>
        <p>Inventory: <%= item.inventory %> </p>
        <% if item.active? %>
          <p>Active</p>
        <% else %>
          <p>Inactive</p>
        <% end %>
      </section>
    <% end %>
  <% end %>
</section>

<div class=top_5>
  <%= "Top 5 Most Popular Items:" %>
  <% @items.top_5.each do |name, quantity| %>
    <p><%= "#{name} => Total Purchased: #{quantity}\n" %></p>
  <% end %>
</div>

<div class=worst_5>
  <%= "5 Least Popular Items:" %>
  <% @items.worst_5.each do |name, quantity| %>
    <p><%= "#{name} => Total Purchased: #{quantity}\n" %></p>
  <% end %>
</div>
